<form action="/admin/users/find" method="post"><input type="text" id="name_search" name="name_user" placeholder="Search for names.."><input type="submit" value="Search"></form>

<table>
  <tr>
    <th>User_name</th>
    <th>Wallet</th>
    <th>Rentals</th>
  </tr>
  <%@users.each do |user|%>
  <tr>
    <td> <%=user.user_name %> </td>
    <td> <%=user.wallet %> </td>
    <td> <button type="button"><a href = "http://localhost:4567/user/<%=user.id %>">profile</a></button> </td>
    <td> <button type="button"><a href = "http://localhost:4567/user/<%=user.id%>/rentals">rentals</a></button> </td>

  </tr>
  <% end %>


</table>
