<table style="width:100%">
  <tr>
    <th>User_name</th>
    <th>Wallet</th>
    <th>Rentals</th>
  </tr>
  <tr>
    <%@users.each do |user|%>
    <td><%user.user_name%></td>
    <td><%user.wallet%></td>
  </tr>

</table>
