<table style="width:100%">
  <tr>
    <th>User_name</th>
    <th>Wallet</th>
    <th>Rentals</th>
  </tr>

    <%@users.each do |user|%>
    <tr>
    <td> <%user.user_name %> </td>
    <td> <%user.wallet %> </td>
    </tr>
    <%end%>

</table>
