<div class="form-el">
  <label for="title"></label>
  <input type="text" name="title" id="title" value="<%= @content.title %>"/>
</div>

<div class="form-el">
  <label for="type"></label>
  <input type="text" name="type" id="type" value="<%=@content.type %>"/>
</div>

<div class="form-el">
  <label for="cost"></label>
  <input type="text" name="cost" id="cost" value="<%=@content.cost %>"/>
</div>

<div class="form-el">
  <label for="watch"></label>
  <input type="text" name="watch" id="watch" value="<%=@content.watch %>"/>
</div>

<div class="form-el">
  <input type="submit" value="Make Changes"/>
</div>
