<!DOCTYPE html>
<html>
<head>
   <link href="/styles.css" type="text/css" rel="stylesheet">
   <link rel="icon" href="/netflix.png">
</head>
<div id='header'>
<a href="/"><img src="/notflix.jpg" height="75" width="200"></a>
</div>
<div id='nav'>
  <nav>
    <ul>
      <li>
        <a href="/user/<%=rand(1..24) %>"> User </a>
      </li>
      <li>
        <a href="/user/<%=rand(1..24) %>/rentals">Your Videos</a>
      </li>
    </ul>
  </nav>
  </div>
<body>
<main class="flex flex--row">

  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>
