<h2><%= @user.user_name %></h2>

<button type="button">Change User Name</button>
<button type="button">Your Rentals</button>

<form action="/user/<%=@user.id%>/delete" method="POST"><input type="submit" value="Delete Account"></form>
