<img src="<%= @user.profile_pic %>" alt="Profile Picture" height="150" width="150">
<h2>Edit Picture
</picture></h2>

<form method="POST" action="/user/<%= @user.id%>/updatepic">

  <div class="form-wrapper">

    <div class="form-el">
      <label for="profile_pic">File Path:</label>
      <input type="text" name="profile_pic" id="profile_pic" value="<%= @user.profile_pic %>"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Make Changes"/>
    </div>

  </div>
</form>
