<table>
  <tr>
    <th>Title</th>
    <th>End Date</th>
    <th>Watch Now</th>
  </tr>
  <%@rental.each do |rental_info|%>
  <tr>
    <td><%=rental_info.content.title %> </td>
    <td><%=rental_info.end_date %> </td>
    <td> <button type="button">Watch Now</button> </td>

  </tr>
  <% end %>
</table>
