#header {
  background-color: #EE3425;
  width: 100%;
  height: 75px;
}

#nav {
  text-align: right;
  float: right;
  position: relative;
  top: -70px;
  right: 20px;
  font-family:Arial;
}

#search {
  text-align: center;
  font-family:Arial;
}

#buttons_for_center {
  text-align: center;
  padding: 50px;
}

h2 {
  color: white;
  font-family:Arial;
}

h3 {
  color: white;
  font-family:Arial;
}

Button {

	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
}

Button:active {
	position:relative;
	top:1px;
}



table {
  color: white;
  width: 100%;
  height: 100px;
  font-family:Arial;
}

td {
  text-align: center;
  font-family:Arial;
}

label {
  color: white;
  font-family:Arial;
}
ul {
  list-style-type: none
}

body {
    padding: 30px;
    background-color: black;
    font-family:Arial;
  }
