#header {
  background-color: #EE3425;
  width: 100%;
  height: 75px;
}

#nav {
  text-align: right;
  float: right;
  position: relative;
  top: -70px;
  right: 20px;
}

#search {
  text-align: center;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

table {
  color: white;
  width: 100%;
  height: 100px;
}

td {
  text-align: center;
}

label {
  color: white;
}
ul {
  list-style-type: none
}

body {
    padding: 30px;
    background-color: black;
  }
